.root {
  -fx-background-color: -fx-def-background;
}

.split-pane {
  -fx-background-color: -fx-def-background;
}

.split-pane-divider {
  -fx-background-color: -fx-def-elevated-light;
}

.tree-view {
  -fx-background-color: -fx-def-background;
  -fx-padding: 32 0 0 64;
  -fx-font-size: 18;
}

.tree-cell {
  -fx-background-color: -fx-def-background;
  -fx-font-family: "RobotoCondensed";
  -fx-text-fill: #ffff;
  -fx-padding: 8;
}

.list-view {
  -fx-background-color: -fx-def-background;
  -fx-background-radius: 8px;
  -fx-padding: 12px;
}

.tree-cell:selected {
  -fx-font-weight: bold;
}

.list-view .list-cell {
  -fx-padding: 6px;
  -fx-background-color: -fx-def-background;
  -fx-font-family: "RobotoCondensed";
  -fx-text-fill: #ffff;
  -fx-border-width: 0 0 2 0;
  -fx-border-color: -fx-def-elevated-light;
}

.list-view .list-cell:empty {
  -fx-background-color: -fx-def-background;
  -fx-border-color: none;
}

.list-view .list-cell:selected:focused {
  -fx-font-weight: bold;
}

#hbox .button {
  -fx-pref-width: 100px;
  -fx-pref-height: 40px;
  -fx-font-size: 14;
}