
.check-box {
  -fx-text-fill: white;
  -fx-font-size: 15;
  -fx-checked-color: -fx-def-secondary;
}

.check-box:focused, .check-box:hover {
  -fx-font-weight: bold;
}

.check-box:selected {
  -fx-text-fill: -fx-def-secondary;
}

.text-area {
  -fx-prompt-text-fill: #bfbfbf;
  -fx-text-fill: white;
  -jfx-focus-color: -fx-def-secondary;
  -jfx-unfocus-color: -fx-def-elevated-light;
}

#errorLabel {
  -fx-text-fill: #f45347;
  -fx-font-size: 16;
}

.text-field {
  -fx-text-fill: white;
  -fx-font-size: 14;
  -jfx-focus-color: -fx-def-secondary;
  -jfx-unfocus-color: -fx-def-elevated;
  -fx-alignment: CENTER;
}

.svg-icon {
  -fx-fill: -fx-def-secondary;
}

.text-area .scroll-bar:vertical,
.text-area .scroll-bar:vertical .track,
.text-area .scroll-bar:vertical .track-background,
.text-area .scroll-bar:horizontal,
.text-area .scroll-bar:horizontal .track,
.text-area .scroll-bar:horizontal .track-background {
  -fx-background-color: -fx-def-background;
}

.text-area .scroll-bar:horizontal .thumb {
  -fx-background-color: -fx-def-elevated;
}

.text-area .scroll-bar:vertical .thumb {
  -fx-background-color: -fx-def-elevated;
}

.text-area .scroll-bar .increment-button:focused,
.text-area .scroll-bar .decrement-button:focused {
  -fx-background-color: -fx-def-background;
  -fx-focus-color: transparent;
}