.jfx-tab-pane .tab-selected-line {
  -fx-background-color: #00aea4;
}

.jfx-tab-pane .headers-region {
  -fx-background-color: -fx-def-elevated;
}

.jfx-tab-pane .tab-header-background {
  -fx-background-color: -fx-def-elevated;
}

.jfx-tab-pane .control-buttons-tab {
  -fx-background-color: -fx-def-elevated-light;
}

.jfx-tab-pane .control-buttons-tab .tab-down-button {
  -fx-background-color: -fx-def-elevated-light;
}

.jfx-tab-pane *.tab-header-area {

  -fx-padding: 4;
}

.tab-content-area {
  -fx-padding: 8;
  -fx-border-insets: -1;
}